@import url("https://fonts.googleapis.com/css?family=Sarabun:400,500,700&display=swap");

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

html,
body {
  font-family: "Sarabun", sans-serif !important;
}

html,
body {
  max-width: 100%;
}

.App {
  // background-image: url("/bg.jpg");
  background-color: #f0f2f5;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  .ant-layout-header {
    background-color: #007857;
  }

  .ant-menu-dark,
  .ant-menu-dark .ant-menu-sub {
    background-color: #007857;
  }

  .ant-menu.ant-menu-dark .ant-menu-item-selected,
  .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #343434;
  }
}

.web-logo {
  -webkit-box-shadow: 10px 10px 13px -7px rgba(194, 194, 194, 1);
  -moz-box-shadow: 10px 10px 13px -7px rgba(194, 194, 194, 1);
  box-shadow: 10px 10px 13px -7px rgba(194, 194, 194, 1);
  border-radius: 0 0 23px 0;
}

.modal-add-item {
  margin-top: 15px !important;
}

.modal-add-box {
  margin-top: 15px !important;

  .ant-modal-body {
    padding: 5px 24px 24px 24px;
  }
}

a {
  &.item-remove {
    color: red;
  }
}

.login-page {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;

  .box {
    height: 100vh;

    .ant-card {
      padding: 20px 0;
      background: transparent;
      border: 0;
      // -webkit-box-shadow: 10px 10px 33px -8px rgba(41,41,41,1);
      // -moz-box-shadow: 10px 10px 33px -8px rgba(41,41,41,1);
      // box-shadow: 10px 10px 33px -8px rgba(41,41,41,1);
      order: 1;
      position: relative;
      z-index: 1;

      &::after {
        position: absolute;
        top: 0;
        width: 100%;
        opacity: .6;
        background: #000;
        height: 100%;
        display: block;
        content: ' ';
        order: 2;
        z-index: -1;
        border-radius: 20px;
      }

      .ant-card-head {
        border: 0;

        .ant-card-head-title {
          color: #fff;
          font-size: 22px;
          text-transform: uppercase;

          img {
            margin-bottom: 10px;
          }
        }
      }

      .ant-card-body {
        padding: 0px 26px;


        label {
          color: #fff;
        }

        .forget-password {
          color: #fff;
          border-bottom: 2px solid #fff;
        }

        .ant-form-item {
          margin-bottom: 10px;
        }

        i {
          color: #fff !important;
        }

        input {
          font-weight: bold;
          background-color: #232323c7;
          color: #fff;
          letter-spacing: .8px;
          box-shadow: none !important;
          outline: none;
          border-color: #999 !important;

          &::placeholder {
            color: transparent;
          }

          &:focus,
          &:hover {
            // border: 0;
            outline: none;
            border-color: #999 !important;
            box-shadow: none;
          }
        }

        button {
          &:disabled {
            background: transparent;
            color: #fff;
            border-color: #999;
          }
        }

        .has-error .ant-form-explain,
        .has-error .ant-form-split {
          color: #ffffff;
        }
      }
    }
  }
}

.text-center {
  text-align: center;
}

.logo {
  width: 120px;
  height: 31px;
  // background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  display: flex;
  float: left;

  img {
    width: 100%;
  }
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.header {
  position: relative;

  .right-head {
    float: right;
    position: relative;
    top: -65px;

    a {
      color: #f0f2f5;

      i {
        margin-left: 5px;
      }
    }
  }
}

.app-role-text {
  margin-left: 5px;
  font-weight: bold;
}

.confirm-status {
  color: green;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.ant-card-type-inner .ant-card-head {
  background-color: #343434;
  border-color: #343434;
  color: #fff;
}

.search-box {
  // text-align: right;
  display: block;
  // width: 26%;
}

.is-ok {
  color: green;
}

.order-info {
  list-style: none;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;

  li {
    display: inline-block;
    width: 25%;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 20px;

    span {
      &:first-of-type {
        // width: 160px;
        margin-right: 10px;
        display: inline-block;
        font-weight: bold;
        line-height: 30px;

      }
    }
  }
}

.divi-head {
  span {
    color: red;
  }
}

.isConfirm {
  color: green;
}

.btn-new-input {
  margin: 0;
  padding: 0;
}

.page-title {
  border-radius: 3px;
  background: aliceblue;
  padding: 6px 16px;

  &.bg-title-2 {
    background-color: #ffd94d6b;
  }

  &.bg-title-3 {
    background-color: rgba(82, 196, 26, 0.34);
  }

  &.bg-title-4 {
    background-color: #c8edff;
  }

  &.bg-title-5{
    color: #fff;
    background-color: #343434;
  }

}

.run-number {
  color: #f5222d;
}

.head-box {
  // border-bottom: 1px solid #999;
  margin: 10px 0;
}

.fp-modal {
  width: 100%;
}

.active-row {
  background-color: #e4ffd6 !important;
}

.file-personal-show {
  max-width: 30%;
}

.date-confirm,
.status-confirm {
  font-size: .7rem;
}

.status-confirm {
  text-transform: uppercase;
}

.date-box-red {
  float: right;
}

.filter-home {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #e8e8e8;
  border-radius: 3px;

  .ant-form {
    margin: 0 !important;
  }
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: #535353;
  font-weight: 500;
  background-color: #f5f5f5;

  &:hover {
    color: #535353;
  }
}

.filter-sub {
  text-align: center;

  .collapse {
    display: block;
  }

  .search-btn {
    margin-left: 10px;
  }

  .reset-btn {
    //
  }

  .ant-form-item {
    width: 50%;
    margin: 0 auto;
    text-align: right;
    display: block;
    margin-top: 10px;

    .ant-form-item-control-wrapper {
      width: 70%;

      .ant-form-item-control {
        width: 100%;

        .ant-calendar-picker {
          width: 100%;
        }
      }

    }
  }
}

.ant-btn-primary {
  color: #fff;
  background-color: #007857;
  border-color: #007857;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  &:hover {
    background-color: #007857;
    border-color: #007857;
  }
}

.sign-text {
  border-bottom: 2px solid #fff;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}